/*=========== BASE =============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: $font-primary;
  font-size: $b3-size;
  background-color: $color-background;
  overflow-x: hidden;
  color: $color-text;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5,h6, p {
  color: $color-text;
  margin: 0;
}

h1 {
  font-size: $h1-size;
  font-weight: $font-black;
  line-height: 96px;
}

h2 {
  font-size: $h2-size;
  font-weight: $font-bold;
  line-height: 72px;
}

h3 {
  font-size: $h3-size;
  font-weight: $font-bold;
  line-height: 62px;
}

h4 {
  font-size: $h4-size;
  font-weight: $font-bold;
  line-height: 54px;
}

h5 {
  font-size: $h5-size;
  font-weight: $font-bold;
  line-height: 43px;
}

h6 {
  font-size: $h6-size;
  font-weight: $font-bold;
  line-height: 30px;
}

p {
  font-size: $b3-size;
  font-weight: $font-regular;
  line-height: 19px;
}

ul {
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
  transition: $transition-normal;
  &:hover{
    color: currentColor;
  }
}

img,
video {
  max-width: 100%;
  height: auto;
}

button,
input {
  border: none;
  font-size: $b2-size;
  transition: $transition-fast;
}

button {
  cursor: pointer;
}

input {
  outline: none;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: $color-white-3 $color-white-0;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 3px;
}

*::-webkit-scrollbar-track {
  background: #ffffff00;
}

*::-webkit-scrollbar-thumb {
  background-color: $color-black-3;
  border-radius: 10px;
}